body {
  background: #000;
  font-size: 15px;
  font-family: Lato;
}

.original_menu {
  background-color: #323232;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  div {
    width: 60px;
    img {
      margin-top: 10px;
    }
  }
  a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 0 2%;
    &:hover {
      color: #2eb398;
    }
  }
}

section {
  padding: 1% 7%;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 26px solid #323232;
  margin: -2px auto 0;
}

#portfolio {
  padding-top: 6%;
  padding-bottom: 6%;
}

#about {
  background-color: #2eb398;
  > div {
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5% 2%;
    > div {
      padding: 0 2%;
      align-self: flex-start;
      h1 {
        color: #d7fcf5;
        font-size: 2em;
        font-family: "Maven Pro Regular";
      }
      h3 {
        color: #20816d;
        font-size: 1.2em;
        font-family: "Maven Pro Regular";
      }
      p {
        color: #d7fcf5;
        font-size: 0.8em;
        line-height: 22px;
      }
    }
  }
}

#get {
  background-color: #323232;
  > div {
    padding: 5% 2%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #2b2b2b;
    border-top: 1px solid #2b2b2b;
    .get-form {
      width: 70%;
      display: flex;
      flex-direction: column;
      padding: 0 2%;
      h2 {
        color: #e0e0e0;
        font-size: 2em;
        font-family: "Maven Pro Regular";
      }
      h4 {
        color: #bebebe;
        font-size: 1.2em;
        line-height: 22px;
        margin-bottom: 20px;
        font-family: "Maven Pro Regular";
      }
      input {
        background-color: #454545;
        color: #bebebe;
        font-size: 0.8em;
        line-height: 22px;
        padding: 13px 0 13px 15px;
        border: none;
        margin-bottom: 16px;
        &:last-of-type {
          height: 150px;
        }
      }
      button {
        background-color: #2eb398;
        padding: 14px 30px;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 700;
        color: #d7fcf5;
        border: none;
        width: 90px;
        align-self: flex-end;
        &:hover {
          background: #349EB1;
          cursor: pointer;
        }
      }
    }
    .get-info {
      width: 30%;
      text-align: left;
      padding: 70px 2% 0;
      p {
        font-size: 0.8em;
        line-height: 22px;
        color: #bebebe;
        margin-bottom: 46px;
        span {
          color: #e0e0e0;
          font-weight: 900;
        }
      }
     > span {
       color: #bebebe;
       font-size: 0.8em;
       font-weight: 700;
       line-height: 22px;
       margin-left: 14px;
     }
      .fa {
        color: #2eb398;
        width: 16px;
      }
      .fa-phone {
        transform: rotate(270deg);
      }
    }
  }
}

footer {
  background-color: #222222;
  height: 43px;
  p {
    color: #454545;
    font-size: 0.8em;
    line-height: 43px;
    margin-left: 39px;
    font-family: "Maven Pro Regular";
  }
}

#menu {
  display: none!important;
}

.slicknav_menu {
  display: none;
  a {
    font-size: 1.3em;
  }
}

@media (max-width: 900px){
  body {
    font-size: 21px;
  }

  .original_menu {
    display: none;
  }

  #triangle-down {
    display: none;
  }

  .slicknav_menu {
    display: block;
    a {
      text-transform: uppercase;
      &:hover {
        color: #2eb398;
      }
    }
  }

  #about {
    > div {
      flex-direction: column;
      & div:first-child {
        align-self: center;
      }
      > div {
        h1, h3 {
          text-align: center;
        }
      }
    }
  }
  #get {
    > div {
      flex-direction: column;
      .get-form, .get-info {
        width: 100%;
        button {
          padding: 14px 20px;
        }
      }
    }
  }
}


